body {
    background-color: darkcyan;
}

#content {
    margin: auto;
    max-width: 600px;
    min-width: 200px;
    align-items: center;
}

button {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    font-size: 2em;
    transition: 200ms;
}

button:hover {
    cursor: pointer;
    font-size: 3em;
    transition: 200ms;
}
button:disabled:hover {
    cursor: default;
    font-size: 2em;
    transition: 200ms;
}
